<h1><%= @manufacturer.name %></h1>
<a href="/brews">Brews Index</a>
<a href="/breweries">Breweries Index</a>
<p>Year Established: <%= @manufacturer.year_established %></p>
<p>Domestic? <%= @manufacturer.domestic %></p>
<p>Number of Boozes Created By This Manufacturer: <%= @manufacturer.boozes.count %></p>
